{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Bhavcopy BSEe</title>
    <link rel="stylesheet" href="{% static 'bse/bse.css' %}" />
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <h1 style="text-align: center">Bhavcopy BSE</h1>

    <div id="app">
      <button @click="csvExport(filteredRows)">
        Export to CSV <i class="fas fa-download"></i>
      </button>
      <table>
        <thead>
          <tr>
            <input
              type="text"
              placeholder="Filter by company name e.g. birla, ashoka etc"
              @input="fetchBhavs"
              v-model="filter"
            />
          </tr>
          <tr>
            <th>SC_CODE</th>
            <th>SC_NAME</th>
            <th>OPEN</th>
            <th>LOW</th>
            <th>CLOSE</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(row, index) in filteredRows" :key="`bhav-${index}`">
            <td v-html="row.SC_CODE"></td>
            <td v-html="highlightMatches(row.SC_NAME)"></td>
            <td v-html="row.OPEN"></td>
            <td v-html="row.LOW"></td>
            <td v-html="row.CLOSE"></td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11/dist/vue.js"></script>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"
    integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ=="
    crossorigin="anonymous"
  ></script>
  <script>
    // axios request
    function sendRequest(url, method, data = {}) {
      return axios({
        method: method,
        url: url,
        data: data,
        xsrfCookieName: 'csrftoken',
        xsrfHeaderName: 'X-CSRFToken',
        headers: {
          'X-Requested-With': 'XMLHttpRequest',
        },
      });
    }

    const app = new Vue({
      el: '#app',
      data: {
        filter: '',
        rows: [],
      },
      methods: {
        fetchBhavs(e) {
          const searchKey = e.target.value;
          var this_vue = this;
          if (searchKey.length >= 2) {
            const domain = '{{ request.get_host }}';
            const secure = '{{ request.is_secure }}';
            let rootUrl;
            if (secure === 'True') {
              rootUrl = `https://` + domain;
            } else {
              rootUrl = `http://` + domain;
            }

            sendRequest(`${rootUrl}/?searchKey=${searchKey}`, 'GET').then((response) => {
              this_vue.rows = JSON.parse(response.data);
            });
          }
        },
        highlightMatches(text) {
          const matchExists = text.toLowerCase().includes(this.filter.toLowerCase());
          if (!matchExists) return text;

          const re = new RegExp(this.filter, 'ig');
          return text.replace(re, (matchedText) => `<strong>${matchedText}</strong>`);
        },
        csvExport(arrData) {
          if (arrData?.length > 1) {
            let csvContent = 'data:text/csv;charset=utf-8,';
            csvContent += [
              Object.keys(arrData[0]).join(','),
              ...arrData.map((item) => Object.values(item).join(',')),
            ]
              .join('\n')
              .replace(/(^\[)|(\]$)/gm, '');

            const data = encodeURI(csvContent);
            const link = document.createElement('a');
            link.setAttribute('href', data);
            link.setAttribute('download', 'export.csv');
            link.click();
          }
        },
      },
      computed: {
        filteredRows() {
          if (this.rows.length > 0) {
            return this.rows.filter((row) => {
              const names = row.SC_NAME.toLowerCase();
              const searchTerm = this.filter.toLowerCase();
              return names.includes(searchTerm);
            });
          }
        },
      },
    });
  </script>
</html>
