table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

th {
  background-color: #dddddd;
}

.note {
  color: white;
  position: fixed;
  bottom: 0px;
  align-self: right;
  background-color: black;
}

.header {
  display: flex;
  justify-content: space-around;
}

h2 {
  display: flex;
  justify-content: center;
  border-radius: 20px;
  width: 20%;
  border: 1px solid;
  padding: 10px;
  box-shadow: 5px 10px 4px 3px #ccc9b9c9;
  text-align: center;
  border-width: 0px;
  color: white;
  background-color: #6495ed;
}

.input-download-section {
  display: flex;
  justify-content: center;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.searchBox {
  display: flex;
  flex: 70%;
  border: 2px solid rgb(134, 130, 130);
  border-radius: 10px;
}

.fa-search {
  display: flex;
  max-width: 50%;
  align-items: center;
  justify-content: center;
  padding-left: 5px;
  background-color: white;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

input[type='text'] {
  display: flex;
  border-width: 0px;
  width: 100%;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  font-weight: bold;
  font-size: 15px;
}

.exportButton {
  display: flex;
  flex: 30%;
  justify-content: center;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  height: fit-content;
  margin: 0px;
}

button {
  cursor: pointer;
  background: #6495ed;
  color: #fff;
  padding: 15px;
  font: inherit;
  margin: 1em;
}
button:hover {
  background: #78a9ff;
}
button:active {
  background: #5a8be3;
}

input:focus {
  outline: none !important;
}

.eachRow > td {
  box-shadow: 2px 2px 2px 2px #6495ed;
}
