table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

th {
  background-color: #dddddd;
}

input[type='text'],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 25px;
}

button {
  border: 0;
  cursor: pointer;
  background: #6495ed;
  color: #fff;
  padding: 0.7em 1em;
  font: inherit;
  margin: 1em;
}
button:hover {
  background: #78a9ff;
}
button:active {
  background: #5a8be3;
}

.note {
  color: white;
  position: fixed;
  bottom: 0px;
  align-self: right;
  background-color: black;
}
